body {
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 15px;
    height: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    transition: transform 0.3s ease;
}

.box:hover{
    transform: scale(1.1);
}

.sample-title {
    text-align: center;
    color: black;
    text-shadow: 1px -1px 0px #fff, -1px 1px 0px #333;
}

.box::before {
    content: '';
    display: block;
    width: 80px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -25px;
    margin-left: 80px;
}